<div id="<%= dom_id blog_post %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= blog_post.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Content:</strong>
    <%= blog_post.content %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Author:</strong>
    <%= blog_post.author %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Published at:</strong>
    <%= blog_post.published_at %>
  </p>

</div>
